doctype html

- var { siteName } = require('yaml').parse(require('fs').readFileSync('config.yaml', 'utf8'))
- var statcodonVer = JSON.parse(require('fs').readFileSync('node_modules/statcodon/package.json')).version

html
	block head
		head
			block title
				title #{siteName}
			meta(charset="utf-8")
			meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
			meta(name="generator" content="statcodon " + statcodonVer)
			link(rel="stylesheet" href="/styles.css")
	body
		block header
			include header.pug
		block content
		block footer
			include footer.pug

| !{"\n<!--"} @copyright #{date != null ? new Date(date || datemr).getFullYear().toString() : ""} !{"-->"}
