.card.card_info_tip
  .card__title Geolocation detection thing

  noscript.card__context.
    You have JavaScript disabled. That’s great for privacy, and that
    means websites can’t detect your location.

  p
    | <strong>Really ugly button:</strong>#{' '}
    button(onclick="geo()") Get my location
    br
    | <strong>Geolocation permission:</strong> <span id="perm">Detecting.</span>
    br
    | <strong>Your location:</strong> <span id="location">Detecting.</span>

  script.
    const geo = (async () => {
      let {state} = await navigator.permissions.query({name: "geolocation"});
      document.getElementById("perm").innerHTML = state;
      if (state == "granted" || state == "prompt") {
        navigator.geolocation.getCurrentPosition(
          ({coords}) => document.getElementById("location").innerHTML = `${coords.latitude} ${coords.longitude}`,
          ()         => document.getElementById("location").innerHTML = "Failed to get location."
        );
      }
      else document.getElementById("location").innerHTML= "Permission denied.";
    })

  p <small>This uses code from <a href="https://deviceinfo.me">deviceinfo.me</a></small>