/* cantarell-bold-oblique */
@font-face {
  font-family: Cantarell;
  font-style: italic;
  font-weight: 400;
  src: local("Cantarell Bold Oblique"), local("Cantarell-BoldOblique"),
    url(cantarell-bold-oblique.woff2) format("woff2");
}
/* cantarell-bold */
@font-face {
  font-family: Cantarell;
  font-style: normal;
  font-weight: 700;
  src: local("Cantarell Bold"), local("Cantarell-Bold"),
    url(cantarell-bold.woff2) format("woff2");
}
/* cantarell-oblique */
@font-face {
  font-family: Cantarell;
  font-style: italic;
  font-weight: 400;
  src: local("Cantarell Oblique"), local("Cantarell-Oblique"),
    url(cantarell-oblique.woff2) format("woff2");
}
/* cantarell-regular */
@font-face {
  font-family: Cantarell;
  font-style: normal;
  font-weight: 400;
  src: local("Cantarell Regular"), local("Cantarell-Regular"),
    url(cantarell-regular.woff2) format("woff2");
}
