extends _includes/body.pug

block title
	title #{title} - #{siteName}

block content
	main
		if !na
			| <article>
		h1 !{title}
		if date != undefined
			if datemr != undefined
				time(id="date" datetime=datemr) #{date}
			else
				span(id="date") #{date}
		else if datemr != undefined
			time(id="date" datetime=datemr) #{new Date(datemr).toDateString()}
		| !{html}
		if !na
			| </article>

block footer
	footer
		small
			if copyright
				| Copyright #{copyright}.#{" "}
			if license
				| Licensed #{license}.
