@import url("/css/cantarell/cantarell.css");

:root {
  --blue-1: #99c1f1;
  --blue-2: #62a0ea;
  --blue-3: #3584e4;
  --blue-4: #1c71d8;
  --blue-5: #1a5fb4;
  --green-1: #8ff0a4;
  --green-2: #57e389;
  --green-3: #33d17a;
  --green-4: #2ec27e;
  --green-5: #26a269;
  --yellow-1: #f9f06b;
  --yellow-2: #f8e45c;
  --yellow-3: #f6d32d;
  --yellow-4: #f5c211;
  --yellow-5: #e5a50a;
  --orange-1: #ffbe6f;
  --orange-2: #ffa348;
  --orange-3: #ff7800;
  --orange-4: #e66100;
  --orange-5: #c64600;
  --red-1: #f66151;
  --red-2: #ed333b;
  --red-3: #e01b24;
  --red-4: #c01c28;
  --red-5: #a51d2d;
  --purple-1: #dc8add;
  --purple-2: #c061cb;
  --purple-3: #9141ac;
  --purple-4: #813d9c;
  --purple-5: #613583;
  --brown-1: #cdab8f;
  --brown-2: #b5835a;
  --brown-3: #986a44;
  --brown-4: #865e3c;
  --brown-5: #63452c;
  --light-1: #ffffff;
  --light-2: #f6f5f4;
  --light-3: #deddda;
  --light-4: #c0bfbc;
  --light-5: #9a9996;
  --dark-1: #77767b;
  --dark-2: #5e5c64;
  --dark-3: #3d3846;
  --dark-4: #241f31;
  --dark-5: #000000;

  --color-link: #4a86cf;
  --color-mark: var(--yellow-1);
  --tocbg: var(--light-2);
  --tocfg: var(--dark-3);
  --borders: var(--light-3);
}

body {
  max-width: 60em;
  margin: 1em auto;
  padding: 0 1em;

  font-size: 16px;
  line-height: 1.6;
  font-family: Cantarell, "Liberation Sans", "Noto Sans", Helvetica,
    Arial, sans-serif;
}

@media only screen and (max-width: 961px) {
  body {
    max-width: 40em;
  }
}

::selection {
  background-color: #99c1f180;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  opacity: 0.7;
  display: list-item; /* Accessibility */
}
:--heading::marker {
  /* opacity: 0.4; */
  color: rgba(0, 0, 0, calc(4 / 7));
  font-weight: 300;
  white-space: pre;
}
h1 {
  font-weight: 300;
  font-size: 24pt;
}
h1::marker {
  color: rgba(0, 0, 0, 0.4);
  /* opacity: calc(4 / 7); */
  content: "# ";
}
h2 {
  font-weight: 800;
  font-size: 17pt;
}
h2::marker {
  content: "## ";
}
h3 {
  font-weight: 800;
  font-size: 15pt;
}
h3::marker {
  content: "### ";
}
h4 {
  font-weight: 700;
  font-size: 14pt;
}
h4::marker {
  content: "#### ";
}
h5 {
  font-weight: 700;
  font-size: 12pt;
}
h5::marker {
  content: "##### ";
}
h6 {
  font-weight: 700;
  font-size: 9.5pt;
}
h6::marker {
  content: "###### ";
}

article > p:first-of-type:first-line {
  font-size: larger;
}

strong {
  color: var(--purple-5);
}

a {
  color: var(--color-link);
}

mark {
  background-color: var(--color-mark);
}

cite {
  font-style: inherit;
}
cite:target {
  background-color: var(--color-mark);
}

pre,
blockquote {
  padding: 8px;
  border-radius: 8px;
  background-color: #eeebee;
}
pre > code {
  display: block;
  overflow-x: scroll;
}
pre > code::scrollbar {
  background-color: none;
}
blockquote {
  border-left: 4px;
}

@media (min-width: 700px) {
  pre,
  blockquote {
    padding: 16px;
    border-radius: 24px;
  }
}

figure figcaption {
  text-align: center;
  font-style: italic;
}

.card {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  blockquote,
  .card,
  figure {
    margin-left: 0;
    margin-right: 0;
  }
}

main img {
  margin: auto;
  width: fit-content;
  max-width: 100%;
}

.card {
  display: block;
  border-radius: 8px;
  padding: 8px;
  font-size: inherit;
  /* font-size: 10pt; */
}
.card_action {
  background-color: #eeebee;
  transition: background-color 0.1s ease-in-out;
}
.card_action:hover {
  background-color: var(--tocbg);
}
a.card_action,
.card_action a {
  text-decoration: none;
}

.card__title {
  color: var(--dark-5);
  font-weight: 800;
}
.card__context {
  font-size: 87.5%;
  font-weight: 800;
}

.card_banner {
  color: #fff;
  width: 100%;
}
.card_banner:first-child {
  margin-top: 1em;
  padding-top: 0;
}
.card_banner:last-child {
  margin-bottom: 1em;
  padding-bottom: 0;
}

/* @custom-selector :--card-info-bg .card_info_tip, .card_info_warn, .card_info_error, .card_info; */

.card_info {
  background-color: var(--blue-1);
  color: var(--dark-5);
}
.card_info:not(.card_info_tip, .card_info_warn, .card_info_error)
  ::selection {
  background-color: var(--blue-3);
}

.card__title,
.card__context {
  color: var(--dark-3);
}
.card_info_tip {
  background-color: var(--green-1);
}
.card_info_warn {
  background-color: var(--yellow-1);
}
.card_info_error {
  background-color: var(--red-1);
}

@media (min-width: 700px) {
  .card {
    padding: 16px;
    border-radius: 24px;
    /* font-size: 14pt; */
  }
}

table {
  font-size: 90%;
  width: 100%;
  text-align: left;
}
table tr {
  border-bottom: 1px solid var(--borders);
}
table thead tr {
  border-bottom: 2px solid var(--borders);
}
table td,
table th {
  border-width: 0;
  padding: 0.25rem;
}
table td:first-child,
table th:first-child {
  border-left: none;
}
table td:last-child,
table th:last-child {
  border-right: none;
}
table.table__fixed {
  table-layout: fixed;
}

.i__cl::before {
  display: inline-block;
  transform: rotate(180deg);
  content: "©";
}

[id^="fnref"]:target,
.footnote-item:target {
  background-color: var(--color-mark);
}
